{% extends 'utils/base.html' %}

{% block start %}

<body class="bg-light">

  <div class="container">
    <div class="row justify-content-center align-items-center" style="min-height: 100vh;">

      <div class="col-11 col-sm-8 col-md-6 col-lg-4">
        <div class="card shadow border-0">
          <div class="card-body p-4">

            <h4 class="text-center mb-4 fw-bold">Create Account</h4>
             
            <form method="POST">
              {% csrf_token %}
              {% include 'utils/alerts.html' %}
               
              <!-- First Name -->
              <div class="mb-3">
                <label class="form-label">First Name</label>
                <input type="text" name="first_name" class="form-control" placeholder="Enter your first name" required>
              </div>

              <div class="mb-3">
                <label class="form-label">Last Name</label>
                <input type="text" name="last_name" class="form-control" placeholder="Enter your last name" required>
              </div>


              <!-- Email -->
              <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" name="email" class="form-control" placeholder="Enter email" required>
              </div>

              <!-- Phone -->
              <div class="mb-3">
                <label class="form-label">Phone Number</label>
                <input type="text" name="phone_number" class="form-control" placeholder="Enter phone number" required>
              </div>

              <!-- Password -->
              <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Create password" required>
              </div>


              <!-- Terms -->
              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" required>
                <label class="form-check-label">
                  I agree to the terms & conditions
                </label>
              </div>

              <!-- Register Button -->
              <button type="submit" class="btn btn-danger w-100 mb-3">
                Register
              </button>

              <!-- Login Link -->
              <p class="text-center mb-0">
                Already have an account?
                <a href="{% url 'login' %}" class="text-danger fw-semibold">Login</a>
              </p>

            </form>

          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock%}